:root {
  --header: #ffffff;
  --portfolio: #2196f3;
  --header-logo: #212121;
  --header-logo-styles: #2196f3;
  --header-color: #ffffff;
  --header-items: #212121;
  --main-item-heading: #212121;
  --main-item-text: #757575;
  --main-skills-heading: #212121;
  --team: #f5f4fa;
  --team-name: #212121;
  --team-profession: #757575;
  --footer-logo-text: #ffffff;
  --hero: #2f303a;
  --hover-focus: #2196f3;
  --contacty: #757575;
  --footer-logo: #ffffff;
}
